* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  overflow-x: hidden; /* 가로 스크롤 비활성화 */
  overflow-y: auto;   /* 세로 스크롤 활성화 */ 
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  max-width:100%;
}  
 /* 스크롤바 지우기 */
 ::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
}
::-webkit-scrollbar-thumb {
  background: #888; /* 스크롤바 색상 */
  border-radius: 4px; /* 스크롤바 모서리 둥글게 */
}
::-webkit-scrollbar-thumb:hover {
  background: #555; /* 스크롤바 호버 색상 */
}
/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0 48px;
  background-color: #fff;
  z-index: 500;  
}
.headerCover {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 90px;
  transition: 0.5s;
}
.headerCover.on {
  height: 300px;
  z-index: 100;
}
/* main menu */
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  z-index: 500; 
}
.menu > li > a {
  color: #000;
}
.menu > li > a:hover {
  color: red;
}
/* submenu */
.menuList {
  position: absolute;
  top: 100px;
  opacity: 0;
  transition: 0.3s;
}
.menuList.on {
  opacity: 1;
}
.menuList > li {
  padding: 10px 0;
  color: gray;
  transition: 0.5s;
}
.menuList > li:hover {
  cursor: pointer;
  color: red;
}
.menu > li {
  font-weight: bolder;
  padding: 0 50px;
}
/* logo */
.logo {
  width: 15%;
  z-index: 500;  
}
.topLogo {
  width: 165px;
  height: 42px;
  background-image: url(../img/logo_color.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* icon */
.icon {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  height: 100%;
  z-index: 500;  
}
.icon > li:hover {
  cursor: pointer;
}
.icon > li:nth-child(1) {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: red;
  color: white;
  font-weight: bolder;
}
/* multi lang */
.lang {
  display: none;
  position: absolute;
  top: 70px;
  left: 0px;
  padding: 10px 27px;
  background-color: red;
  border-radius: 10px;
  color: #fff;
}
.lang.on {
  display: block;
}
.lang > li:not(:last-child) {
  margin-bottom: 10px;
}
/* xi-share-alt-o */
.xi-share-alt-o {
  font-size: 24px;
  font-weight: bolder;
}
.xi-share-alt-o:hover {
  color: red;
}
/* xi-bars */
.xi-bars {
  font-size: 24px;
  font-weight: bolder;
}
.xi-arrow-down {
  margin-left: 10px;
  transition: 0.5s;
}
.xi-arrow-down.on {
  transform: rotate(180deg);
}
/* model */
.menuModal {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 1000;
}
.menuModal.on {
  display: flex;
}
.modal {
  width: 1000px;
  height: 500px;
}
.modal > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 45px;
  display: flex;
  color: #fff;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  font-weight: bolder;
}
.xi-close {
  font-size: 32px;
  transition: 0.5s;
}
.xi-close:hover {
  cursor: pointer;
  transform: rotate(360deg);
}
.modalMenu {
  display: flex;
  position: relative;
  top: 50px;
  justify-content: space-between;
  color: #fff;
  height: 50%;
  padding: 0 10px;
}
.modalMenu > li > a {
  font-size: 28px;
  font-weight: bolder;
}
.modalMenu a {
  color: #fff;
}
.modalMenuList {
  padding: 20px 0;
}
.modalMenuList > li {
  padding: 10px 0;
  font-size: 20px;
}
.modalMenuList > li:hover {
  cursor: pointer;
}
section {
  position: relative;
  width: 100%;
  height: 700px;  
}
/* main slide */
.city01 {
  opacity: 1;
  width: 100%;
  height: 700px;
  position: absolute;
  background-image: url(../img/city01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s; 
}
.city01.on {
  animation: big 3s both; 
}
.city01.on .textMove,
.city02.on .textMove {
  position: relative;
  animation: textMove 3s both; 
}
.city02 {
  opacity: 0;
  width: 100%;
  height: 700px;
  position: absolute;
  background-image: url(../img/city02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s; 
}
@keyframes big {
  from {
    background-size: 110%;    
}
  to {
    background-size: 130%;   
}
}
@keyframes textMove {
  from {
    opacity: 0;
    transform: translateY(100px);    
}
  to {
    opacity: 1;
    transform: translateY(0);   
}
}
.city01.on {
  animation: big 3s both;  
}
.city02.on {
  opacity: 1;
  animation: big 3s both; 
}
.city01 > div,
.city02 > div {
  position: absolute;
  top: 25%;
  right: 15%;
  color: #fff;
  line-height: 80px; 
}
.city01 > div > span,
.city02 > div > span {
  display: block;
}
.title {
  font-size: 40px;
  font-weight: bolder;
}
.content {
  font-size: 80px;
  font-weight: bolder;
}
.moveBtn {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  align-items: center;
  width: 140px;
  height: 40px;
  background-color: red;
  padding: 0 20px;
  border-radius: 20px;
  margin-top: 15px;
  font-weight: bolder;
}
.moveBtn {
  position: relative;
  z-index: 100;
}
.moveBtn.on {
  display: none;
}
.moveBtn a {
  color: #fff;
}
/* TextTyping */
#TextoutBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 500px;     
}  
  .text   {
    position: relative;   
}  
  .text span {
    display: block;
    color: rgba(128, 128, 128, 0.3);
    font-size: 50px;
    font-weight: bolder;    
    overflow: hidden;
} 
  .text p {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    color: rgb(255, 0, 0);
    font-size: 50px;
    font-weight: bolder;
    white-space: pre;
    overflow: hidden;    
}  
/* MainContents*/
#our_business {
  margin: auto;
  width:1300px;   
}
#our_business h2 {
  font:3.8rem  "Poppins", serif;  
  text-transform: uppercase;
  margin-bottom: 10px;
}
#our_business h2+ p {
  font-weight:bold;
}
#title {
  display:flex; 
  justify-content: space-between; 
  align-items: center;
  height: 200px;
  margin:auto; 
  margin-bottom:70px; 
}
#btn button {
  width:50px; 
  height:50px; 
  border-radius:50%; 
  margin:3px;
  background:transparent; 
  border: 1px solid #333;
}
#btn button:hover {
  background:black; 
  color:white;
}
/* 슬라이드 */
#contentsSlide {
  width:3900px; 
  display:flex; 
  position:relative; 
  margin:auto; 
  left:-1300px; 
}
#contentsSlide section {
  width: 1300px; 
  display: flex;
  opacity:0.3; 
  transform:scale(0.6);
  transition: all 1s;
}
#contentsSlide section.active {
  opacity: 1; 
  transform: scale(1);
}
#contentsSlide section> img {
  width:450px; 
}
#contentsSlide section> div {
  flex:1; 
  padding:70px 0 0 70px;
}
#contentsSlide section>div img{
  width:150px; 
  margin-bottom:25px;
}
#contentsSlide section h4 {
  margin-bottom:15px;
}
#contentsSlide section h3 {
  font-size:1.7rem; 
  margin-bottom: 25px;
} 
#contentsSlide section h3+ p {
  width:300px; 
  font-size:0.9rem; 
  margin-bottom:60px;
}
#contentsSlide section p+ div {
  width:300px;
}
#contentsSlide section span {
  display:inline-block; 
  padding:10px 12px; 
  background:#eee; 
  border-radius:50px; 
  margin:10px 3px;
  font-weight:bold; 
  font-size:0.8rem; 
  color:#333;
} 
 /* 동영상과 배경 변경  */
 #bgChange.hide {
    opacity:0;
 }
 #bgChange {
    display: flex;
    justify-content: center;
    padding: 100px;
    height: auto;
    background-color:#000;
    color:#eee;
    transition: 1.5s;
    opacity: 1;
    margin-top: 20px;   
  }  
  #bgChange.on {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }  
  section:nth-of-type(4) > div {
    /* border: 1px solid black; */
  }  
  .sec4Text > p:nth-child(1) {
    font-size: 51px;
    font-weight: bolder;
    margin-bottom: 20px;
  }  
  .sec4Text > p:nth-child(2) {
    margin-bottom: 20px;
  }  
  .sec4Text > p:last-child {
    margin-bottom: 50px;
  }  
  .sec4Text > p:not(:first-child) {
    font-size: 21px;
    font-weight: 500;
  }  
/*동영상*/
#movie {
	 margin:auto;
}
#movie video {
    width:900px; 
    height:400px; 
    display:block; 
    margin:auto;
    transition:all 2s; 
}
#movie video.big {
    animation: bb 3s 0.5s both;
}
@keyframes bb {
	from {width:1200; height:1000px;}
	to   {width:1400px;  height:1200px;}
}
/* card contents */
/* 스코롤 시점 태그 시작 */
#spacer {
  height: 2430px; /* 탑메뉴에서 #our_brand까지의 높이 */
  background: #f0f0f0;
}
/* 끝 */
#our_brand {
  width: 100%;
  height: auto; /* 높이 자동 조정 */
  background: black;
  color: white;
  padding: 100px 0;
  font-family: Poppins, sans-serif; 
}
#our_brand{
  width: 100%;
  height: 1400px;
  margin-top: 0;
}
#our_brand div {
  max-width: 1500px;
  display: flex;
  justify-content: space-between; /* 카드 간 간격 유지 */
  align-items: flex-start; /* 상단 정렬 */
  /* flex-wrap: nowrap; 가로로 한 줄 배치 */
  margin: 0 auto; /* 중앙 정렬 */ 
}
/* active 클래스 시작 */
#our_brand div.active section {
  animation: roll 1s both;
}
#our_brand div.active section:nth-child(2) {
  animation-delay: 0.5s;
}
#our_brand div.active section:nth-child(3) {
  animation-delay: 1s;
}
/* active 클래스 끝 */
#our_brand h2 {
  max-width: 1200px;
  margin: 0 auto 60px;
  font-size: 4.5rem;
  line-height: 130%;
  text-align: left;
}
#our_brand div section {
  flex: 1;
  background: rgb(255, 94, 36);
  border-radius: 15px;
  padding: 120px 30px 50px;
  margin: 20px; /* 카드 간격 */
  text-align: center; 
  transition: transform 0.3s;
}
#our_brand div section:hover {
  transform: scale(1.05); /* 호버 시 확대 효과 */
}
#our_brand div.active section {
  animation: roll 1s both;
}
#our_brand div.active section:nth-child(2) {
  animation-delay: 0.5s;
}
#our_brand div.active section:nth-child(3) {
  animation-delay: 1s;
}
@keyframes roll {
  from {
      transform: rotateY(0);
  }
  to {
      transform: rotateY(360deg);
  }
}
#our_brand div img {
  display: block;
  width: 100px;
  height: auto;
  margin: 0 auto 30px;
  transition: transform 1s;
}
#our_brand div.active section img {
  animation: updown 1s both infinite alternate;
}
#our_brand div.active section:nth-child(2) img {
  animation-delay: 0.5s;
}
#our_brand div.active section:nth-child(3) img {
  animation-delay: 1s;
}
@keyframes updown {
  from {
      transform: translateY(-10px);
      opacity: 0.5;
  }
  to {
      transform: translateY(10px);
      opacity: 1;
  }
}
#our_brand h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#our_brand p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
  margin: 0;
}
/* Field info */
#field{
    margin-top: 100px;
    width: 100%;
    font-family: Arial, sans-serif;   
    display: flex;
    justify-content: flex-start; /* 부모 요소에서 좌측 정렬 */
    align-items: flex-start; /* 자식 요소를 위쪽으로 정렬 */
    flex-direction: column;
    background-color: white;
    padding-left: 10%; /* 좌측 마진 대신 내부 여백 사용 */  
}
#field h2  {
    width: 70%; /* 전체 너비의 70%를 사용 */
    text-align: left; /* 좌측 정렬 */
    margin-bottom:30px;
    font-size: 4rem;
    font-weight: bolder;
}
#field p{
    width: 70%; /* 전체 너비의 70%를 사용 */
    text-align: left; /* 좌측 정렬 */
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 50px;
}
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4열 그리드 레이아웃*/
    gap: 30px;
    max-width: 1500px;
    width: 100%;
    padding: 20px;
  }
  .gallery-item {
    height: 590px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }  
   .gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
  }
  .caption_top{
    font-size: 1rem;   
    padding: 10px;
    font-weight: bolder;
  }
  .caption_bottom{
    font-size: 1rem;    
    padding: 10px;
  }
  .gallery-item:hover img {
    transform: scale(1.1);
  }
  .gallery-item .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    font-size: 0.9rem;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .gallery-item:hover .caption {
    opacity: 1;
    transform: translateY(0);
  }
  /* partner logo */
  #our_partner{ 
    margin-top: 100px;   
    font-family:Poppins;
    text-align: center;  
    position: relative;
}
#our_partner h2 {
    font-size:3rem; 
    text-transform: uppercase; 
    margin-bottom: 20px; 
    font-weight: bolder; 
}
#our_partner p {
    font-size:1.5rem; 
    text-align: center;
    font-weight: bolder;
}
#partner_slide_1, #partner_slide_2 {
    margin: 0 auto; /* 중앙 정렬 */
    height: 180px; /* 부모 요소 높이 일관성을 유지 */
}
#partner_slide_1 {
    margin-top: 80px; /* 적당한 간격 조정 */
    height: 180px;
    display: flex;
    position: relative;
    left: -500px;    
    left:-500px;   
    object-fit: cover;
    object-position: center;
}
#partner_slide_1 img {
    display: block;
    width:250px;
    height: 150px;   
}
#partner_slide_2 { 
    margin-top: 10px; /* 위 슬라이드와 가까워지도록 간격 줄임 */
    display: flex;
    position: relative;   
    left:-250px;
    object-fit: cover; 
    object-position: center;  
}
#partner_slide_2 img {
    display: block;
    width:250px;
    height: 150px;
}
/* ESG */
#esg {
  top: 200px;
  width: 100%;
  height: 1200px; /* 부모 요소의 높이를 명확히 설정 */
  position: relative; /* 자식 요소의 % 값 처리를 위해 relative 설정 */
  overflow: hidden;
  margin: 0 auto;  
}
#esg h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bolder;
}
#esg h3 {
  font-size: 1rem;
  margin-bottom: 50px;
  text-align: center;
}
#esg1st, #esg2nd, #esg3rd {
  position: absolute;
  width: 800px;
  height: 400px;
  margin-top: 50px;
  top: 150px; /* 초기 상태에서 화면 아래로 정렬 */
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.8s ease-in-out, z-index 0.8s ease-in-out;
  z-index: 1;
}
#esg1st.active, #esg2nd.active, #esg3rd.active {
  top: 150px; /* 활성화된 섹션은 화면 중앙으로 */
  z-index: 10;
}
#esg1st img, #esg2nd img, #esg3rd img {
  width: 800px;
  height: 400px;
  top:150px;
  border-radius: 10px;
  border: 1px solid black;
  object-fit: cover;
  filter: brightness(70%);
}
#esg1st div, #esg2nd div, #esg3rd div {
  position: absolute;
  bottom: 10%;
  left: 30%;
  transform: translateX(-50%);
  text-align: center;
  color: white;  
  z-index: 20;
}
footer{
  width: 100%; 
  height: 600px; 
  background-image: linear-gradient(225deg, #A93F11, #181818);
  position: relative; 
  color: white;  
}  
.fobox{
  width: 75%; 
  height: 100%; 
  position: relative; 
  align-content: center; 
  left: 50%; 
  transform: translateX(-50%);}
.fotxt{
  width: 100%; 
  height: 40px; 
  display: flex; 
  position: relative;}
.fotxt>div{
  width: 15%;}
.fam{
  position: absolute; 
  right: 0; 
  height: 35px; 
  bottom: 20px; 
  text-align: center; 
  align-content: center; 
  border-top: 0.1px solid rgba(255, 255, 255, 0.333); 
  border-bottom: 1px solid rgba(255, 255, 255, 0.637);}
.fost{
  width: 100%; 
  height: 0.3px; 
  background-color: rgba(255, 255, 255, 0.185); 
  margin-bottom: 30px; 
  margin-top: 10px;}
.foad{
  width: 100%; 
  height: 50px; 
  color: rgba(255, 255, 255, 0.562); 
  line-height: 30px;}
/* footer end */ 

